.navegador {
    display: flex;
    height: 220px;
    /*border: 1px solid red;*/
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid rgb(124, 2, 2) ;
    background-color: rgb(235, 234, 234);
}
.logo{
    /*border: 1px solid rebeccapurple;*/
}
.nome {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: rgb(124, 2, 2);
    padding: 5px;
    /*border: 1px solid orange;*/
}

.botoes {
    margin-top: 5%;
    /*border: 1px solid rgb(194, 11, 11);*/
}
.botoes > a {
    text-decoration: none;
    color: rgb(124, 2, 2);
    /*border: 1px solid forestgreen;*/
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;  
    border-top: 2px solid rgb(124, 2, 2);
    
}
.botoes > a:hover {
    background-color: rgb(124, 2, 2);
    color: white;
    border-radius:15px ;
    box-shadow: 1px 1px 1px black;
}
/*Rodapé*/
.rodape{
    display: flex;
    flex-wrap: wrap;
    height: 160px;
    background-color: rgb(235, 234, 234);
    text-align: center;
    align-items: center;
    border-top: 2px solid rgb(124, 2, 2);
}
.logo-footer{
    flex: 5%;
    /*border: 1px solid red;*/
}
.redes-sociais{
    flex: 70%;
    /*border: 1px solid blue;*/
}
.contato{
    flex: 50%;
    /*border: 1px solid yellow;*/
}
.redes-sociais  a {
    margin: 10px;
    border-radius: 15px;
}
.contato > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: rgb(124, 2, 2);
    
}
.contato > p > a {
    text-decoration: none;
    color: rgb(124, 2, 2);

}